vignettes/figure/*
Paper/figure/*
Lit/*
ApplicationPapers/Manuscript*
ApplicationPapers/*zip
DIVA/figures
*/cache
DIVA/Lit/*
*/*csv
*tgz
figure/*
*.tar.gz
*.tex
*.blg
*aux
*bbl
*log
*nav
*out
*snm
*toc
*vrb
*rda
*png
.Rproj.user
.Rproj
